$font-stack:    Helvetica, sans-serif;
$primary-color: #222;
$sec-color: #fff;
$main_background: #fff;
$font-size-primary : 20px;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: $main_background;
  font-size: $font-size-primary ;
  img{
    width: 100%;
  }
}

.clearfix{
  clear:both;
}

.wrapper{
  width: 100;
  max-width: 1310px;
  margin: 0 auto;
  position: relative;
}

// nav

.appHeadContainer{
  
  background: #757272;

  .appLogo{
    width: 30%;
    float: left;
    padding-top: 1em;
    color: $sec-color;
  }
  
  .appNav{
    width: 70%;
    float: right;
    text-align: right;
  }
}



nav{
  ul{
    width: 100%;
  }
  li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
  }
  a{
    color: $sec-color;
    text-decoration: none;
    font-size:$font-size-primary  ;
  }
}

.slider{
  min-height:600px
}

main {
  ul{

  }
  li{
    color: red;
  }
}
